.btn {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 1px 0;
    font-size: 16px;
    line-height: 1;
    font-weight: 300;
    height: 35px;
    text-transform: uppercase;
    background: #ee4d2d;
    color: white;
    border: 0;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}