.container-slider {
    width: 100%;
    margin-top: 100px;
}

.container-shoppingCart .title-table {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bolder;
    border-bottom: 1px solid black;
}

.container-shoppingCart .item-shoppingCart {
    border-bottom: 1px solid grey;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.ant-btn {
    background: #FA5730;
}

.cart-product-image {
    height: 160px;
}

.cart-headling {
    font-size: 12pt;
    color: rgb(240, 92, 38);
    margin-bottom: 5%;
}